<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Aatrox</string>
		<key>image</key>
		<string>Aatrox</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Ahri</string>
		<key>image</key>
		<string>Ahri</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Akali</string>
		<key>image</key>
		<string>Akali</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Alistar</string>
		<key>image</key>
		<string>Alistar</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Amumu</string>
		<key>image</key>
		<string>Amumu</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Anivia</string>
		<key>image</key>
		<string>Anivia</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Annie</string>
		<key>image</key>
		<string>Annie</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Ashe</string>
		<key>image</key>
		<string>Ashe</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>AurelionSol</string>
		<key>image</key>
		<string>AurelionSol</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Azir</string>
		<key>image</key>
		<string>Azir</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Bard</string>
		<key>image</key>
		<string>Bard</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Blitzcrank</string>
		<key>image</key>
		<string>Blitzcrank</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Brand</string>
		<key>image</key>
		<string>Brand</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Braum</string>
		<key>image</key>
		<string>Braum</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Caitlyn</string>
		<key>image</key>
		<string>Caitlyn</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Camille</string>
		<key>image</key>
		<string>Camille</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Cassiopeia</string>
		<key>image</key>
		<string>Cassiopeia</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Chogath</string>
		<key>image</key>
		<string>Chogath</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Corki</string>
		<key>image</key>
		<string>Corki</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Darius</string>
		<key>image</key>
		<string>Darius</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Diana</string>
		<key>image</key>
		<string>Diana</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Draven</string>
		<key>image</key>
		<string>Draven</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>DrMundo</string>
		<key>image</key>
		<string>DrMundo</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Ekko</string>
		<key>image</key>
		<string>Ekko</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>asdasfsdfsdgxc</string>
		<key>name</key>
		<string>Elise</string>
		<key>image</key>
		<string>Elise</string>
	</dict>
</array>
</plist>
